/*Remove standard browser margin and paddings*/
* {
    padding: 0;
    margin: 0;
    border: none;
}

/* logo */
.logo {
    text-align: center;
    font-size: 5vw;
}

/* game */
.gamesquare {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 15px 10%;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 15px;
    padding: 25px;
    height: 70vh;
}

.gamesquare button {
    margin: 0 auto;
    font-size: 25px;
    width: 500px;
    padding: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.gamesquare button:hover {
    border: 2px solid white;
    background: gray;
    color: white;
}

/* win message */
.win {
    display: none;
    margin: auto 0;
}

.win h3 {
    font-size: 8vw;
    text-align: center;
}

/* Lose message */
.lose {
    display: none;
    margin: auto 0;
}

.lose h3 {
    font-size: 8vw;
    text-align: center;
}

/* how to play message*/
.how {
    display: none;
}

.how h3 {
    font-size: 200%;
    text-align: center;
}

.how p {
    text-align: center;
    font-size: 200%;
}

.how ul {
    text-align: center;
    list-style: none;
    margin: 50px;
}

.how li {
    font-size: 200%;
}

.how i {
    font-size: 150%;
}

.how button {
    margin: 0 25%;
    font-size: 25px;
    width: 50%;
    padding: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.how button:hover {
    border: 2px solid white;
    background: gray;
    color: white;
}

.htp button {
    margin: 0 25%;
    font-size: 25px;
    width: 50%;
    padding: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.htp button:hover {
    border: 2px solid white;
    background: gray;
    color: white;
}

/* game */
.game {
    display: none;
    align-items: center;
    margin: auto;
}

.game-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 50%;
    font-size: 75px;
    width: 13vw;
    height: 13vw;
}

.game-btn:hover {
    background: black;
    color: white;
    border: 5px solid white;
}

.game-text {
    margin-top: 15px;
    text-align: center;
    font-size: 2.5vw;

}

/* Javascript error */

.support {
    display: block;
}

.support h3 {
    text-align: center;
    margin: 50% 0;
}

/*Responsive design*/

/*For screen widths 800px and below */
@media screen and (max-width: 800px) {
    .game-btn{
        width: 15vw;
        height: 15vw;
        margin: 0 8px;
        font-size: 50px;
    }
}