/*Remove standard browser margin and paddings*/
* {
    padding: 0;
    margin: 0;
    border: none;
}

/* logo */
.logo {
    text-align: center;
    font-size: 5vw;
}

/* game */
.gamesquare {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 15px 10%;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 15px;
    padding: 25px;
    height: 70vh;
}

.gamesquare button {
    margin: 0 auto;
    font-size: 25px;
    width: 500px;
    padding: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.gamesquare button:hover {
    border: 2px solid white;
    background: gray;
    color: white;
}

.score p {
    display: inline-block;
}

/* win message */
.win {
    margin: auto 0;
    font-size: 8vw;
    text-align: center;
}

/* Lose message */
.lose {
    margin: auto 0;
    font-size: 8vw;
    text-align: center;
}

/* how-section to play message*/

.how-section h3 {
    font-size: 200%;
    text-align: center;
}

.how-section p {
    text-align: center;
    font-size: 200%;
}

.how-section ul {
    text-align: center;
    list-style: none;
    margin: 50px;
}

.how-section li {
    font-size: 200%;
}

.how-section i {
    font-size: 150%;
}

.how-section button {
    font-size: 25px;
    width: 50%;
    padding: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.how-section button:hover {
    border: 2px solid white;
    background: gray;
    color: white;
}

.how-to-play button {
    margin: 0 25%;
    font-size: 25px;
    width: 50%;
    padding: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.how-to-play button:hover {
    border: 2px solid white;
    background: gray;
    color: white;
}

/* game */
.game {
    align-items: center;
    margin: auto;
}

.game-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 50%;
    font-size: 75px;
    width: 13vw;
    height: 13vw;
}

.game-btn:hover {
    background: black;
    color: white;
    border: 5px solid white;
}

.game-text {
    margin-top: 15px;
    text-align: center;
    font-size: 2.5vw;

}

/*Responsive design*/

/*For screen widths 800px and below */
@media screen and (max-width: 800px) {
    .game-btn {
        width: 15vw;
        height: 15vw;
        margin: 0 8px;
        font-size: 50px;
    }


    .how-section li {
        font-size: 150%;
    }

    .how-section i {
        font-size: 100%;
    }
}

/*For screen widths 550px and below */
@media screen and (max-width: 550px) {
    .logo{
        font-size: 6vw;
    }

    .gamesquare {
        margin: 5px 10%;
    }
    
    .game-btn {
        width: 20vw;
        height: 20vw;
        margin: 5px 8px;
        font-size: 50px;
    }

    .how-section p {
        font-size: 5vw;
    }

    .how-section ul{
        margin: 5px;
    }

    .how-section li {
        font-size: 5vw;
    }

    .how-section button {
        width: 90%;
        padding: 15px;
        font-size: 14px;
    }

    .lose button, .win button{
        width: 100%;
    }
    
    .how-to-play button{
        font-size: 15px;
        height: 50px;
        padding: 0;
    }
}
/* these areas are hidden so that javascript can switch these*/
.game {
    display: none;
}

.how-section {
    display: none;
}

.lose {
    display: none;
}

.win {
    display: none;
}


/* Javascript error message */
.support {
    display: block;
}

.support h3 {
    text-align: center;
    margin: 50% 0;
}

