@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@500&display=swap');
/*Remove standard browser margin and paddings*/
* {
    padding: 0;
    margin: 0;
    border: none;
}

p {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Oswald', sans-serif;
}
/* logo with viewWidth(vw), using this it will take 1% of the viewport distance.*/
/* the logo in this instance will always be the size of 5% of the viewport width unless you have a breakpoint */
.logo {
    text-align: center;
    font-size: 5vw;
    background: rgba(255, 255, 255, 0.75);
    margin: 0 10%;
    border: 0 solid black;
    border-width: 0 1px;
    height: 10%;
}

/* game */
.gamesquare {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 10%;
    background-color: rgba(255, 255, 255, 0.75);
    border: 0 solid black;
    border-width: 0 1px;
    padding: 25px;
    height: 80%;
}

.gamesquare button {
    margin: 0 auto;
    font-size: 25px;
    width: 500px;
    padding: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.gamesquare button:hover {
    border: 2px solid white;
    background: gray;
    color: white;
}

.score p {
    position: relative;
    display: inline-block;
}

/* win message and lose mesage */
.win,
.lose {
    margin: auto 0;
    font-size: 8vw;
    text-align: center;
}

/* how-section to play message*/

.how-section h3 {
    font-size: 200%;
    text-align: center;
}

.how-section p {
    text-align: center;
    font-size: 200%;
}

.how-section ul {
    text-align: center;
    list-style: none;
    margin: 50px;
}

.how-section li {
    font-size: 200%;
}

.how-section i {
    font-size: 150%;
}

.how-section button {
    font-size: 25px;
    width: 50%;
    padding: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.how-section button:hover {
    border: 2px solid white;
    background: gray;
    color: white;
}

.how-to-play button {
    font-size: 25px;
    margin: 0 10%;
    width: 80%;
    padding: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.how-to-play button:hover {
    border: 1px solid white;
    background: gray;
    color: white;
}

/* game */
.game {
    align-items: center;
    margin: auto;
}

.game-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 50%;
    font-size: 75px;
    width: 13vw;
    height: 13vw;
}

.game-btn:hover {
    background: black;
    color: white;
    border: 5px solid white;
}

.game-text {
    position: relative;
    margin-top: 15px;
    text-align: center;
    font-size: 2.5vw;
    height: 50px;

}

/* button colours */
.btn-blue {
    color: blue;
    border-color: blue;
}

.btn-cyan {
    color: cyan;
    border-color: cyan;
}

.btn-green{
    color: green;
    border-color: green;
}

.btn-lime{
    color: lime;
    border-color: lime;
}

.btn-yellow{
    color: yellow;
    border-color: yellow;
}

/*Custom background made only with css*/
html {
    height: 100%;
    background: radial-gradient(black, 70%, transparent), linear-gradient(61deg, rgba(0, 0, 0, 1) 0%, rgba(70, 70, 70, 1) 10%, rgba(126, 126, 126, 1) 22%, rgba(79, 79, 79, 1) 22%, rgba(97, 97, 97, 1) 31%, rgba(103, 103, 103, 1) 31%, rgba(123, 123, 123, 1) 52%, rgba(129, 129, 129, 1) 52%, rgba(156, 156, 156, 1) 65%, rgba(133, 133, 133, 1) 80%, rgba(49, 49, 49, 1) 80%, rgba(134, 134, 134, 1) 100%);
    background-attachment: fixed;
}

/*Responsive design*/

/*For screen widths 800px and below */
@media screen and (max-width: 800px) {
    .game-btn {
        width: 15vw;
        height: 15vw;
        margin: 0 8px;
        font-size: 50px;
    }

    .game-text {
        font-size: 30px;
    }

    .how-section li {
        font-size: 150%;
    }

    .how-section i {
        font-size: 100%;
    }
}

/*For screen widths 550px and below */
@media screen and (max-width: 550px) {
    .logo {
        font-size: 6vw;
    }

    .game-btn {
        width: 20vw;
        height: 20vw;
        margin: 5px 8px;
        font-size: 50px;
    }

    .game-text {
        height: 30px;
    }

    .how-section p {
        font-size: 5vw;
    }

    .how-section ul {
        margin: 5px;
    }

    .how-section li {
        font-size: 15px;
    }

    .how-section button {
        padding: 15px;
        font-size: 14px;
    }

    .win,
    .lose {
        font-size: 15vw;
    }

    .lose button,
    .win button {
        width: 100%;
    }

    .how-to-play button {
        font-size: 15px;
        height: 50px;
        padding: 0;
    }
}

/*Javascript modifiers*/

/* these areas are hidden so that javascript can switch these*/
.game {
    display: none;
}

.game-text {
    font-size: 17px;
}

.how-section {
    display: none;
}

.lose {
    display: none;
}

.win {
    display: none;
}


/* Javascript error message */
/* If javascript is not running it won't hide this message and therefor the user can tell that its javascript that's either blocked or not allowed on this page.*/
.support {
    display: block;
}

.support h3 {
    text-align: center;
    margin: 50% 0;
}